.char-list {
    margin-top: 20px;
    &__table {
        background-color: #fff;
        & td {
            text-align: right;
        }
    }
    &__characters {
        background-color: #fff;
        & tr {
            cursor: pointer;
        }
    }
    &__character {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__title {
        text-align: center;
    }
}