.char-list {
    margin-top: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    & li {
        padding: 0;
        padding: 20px;
    }
    & h3 {
        text-align: center;
    }
    &__label td {
        text-align: right;
    }
    &__table {
        & td {
            text-align: right;
        }
    }
}