.random-character {
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__table td {
        text-align: right;
    }
    &__title {
        font-size: 25px;
    }
}